#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config CRYPTO
  bool "Crypto API support"
  default n
  ---help---
    Enable or disable Crypto API features

if CRYPTO

config CRYPTO_SESSION_CACHE
  bool "Enable Session Cache"
  default n
  ---help---
    The session cache is used to improve performances

if CRYPTO_SESSION_CACHE

config CRYPTO_SESSION_CACHE_COUNT
  int "Session Cache entries"
  default 1
  ---help---
    The correct value here is the number of expected concurrently accessed sessions.

endif

endif

