#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config CRYPTO
  bool "Crypto API support"
  default n
  ---help---
    Enable or disable Crypto API features

if CRYPTO

config CRYPTO_CONTEXT_STATIC
  bool "Enable Statically allocated session"
  default n

config CRYPTO_CONTEXT_STATIC_KEYS
  int "Number of keys usable in the static context"
  default 2

config CRYPTO_CONTEXT_DYNAMIC_LIMIT
  int "Limit the max number of dynamic contexts (0 for no limit)"
  default 0

endif
